<div class="container">
  <div class="row">
    <div class="col-md12">
      <h2 class="card-header">
        CALCULATE 
      </h2>
      <div class="col-md-12">
        <div class="form-group">
          <div>
            <select [(ngModel)]="type">          
              <option *ngFor="let type of types"> 
                {{ type.value }}
              </option>
            </select>
          </div>
          <div>
            <input 
              class="form-control"
              type="number" 
              value="price"
              [(ngModel)]="userValue"
            >
          </div>
          <div>
            <button 
              class="btn btn-success" 
              type="submit"
              (click)="calculateTva()"
            > Calculer le résultat
            </button>
          </div>
        </div>
        <div 
          class="result"
          id="result"
        > Montant : {{ result }} 
        </div>
        <span 
          class="tva"
        > TVA : 
        </span>
        <span
          class="tva"
          id="tva"
        > {{ tva }} 
        </span>
      </div>
    </div>
  </div>
</div>