<div class="container">
  <div class="row">
    <div class="col-md12">
      <h2 class="card-header">
        CALCULATE TVA
      </h2>
      <div class="col-md-12">
        <div class="form-group">
          <div>
            <select [(ngModel)]="selectedOption">          
              <option *ngFor="let type of types"> 
                {{ type.value }}
              </option>
            </select>
          </div>
          <div>
            <input 
              value="price"
              type="number" 
              class="form-control"
              [(ngModel)]="userValue"
            >
          </div>
          <div>
            <button 
              class="btn btn-success" 
              type="submit"
              (click)="calculateTva(tva)"
            > Calculer la TVA
            </button>
          </div>
        </div>
        <div 
          class="card-footer"
          id="result"
        > {{ result }} 
        </div>
      </div>
    </div>
  </div>
</div>